<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>742876183164-897t3md9j6n0tbd6nv6993v2nh5utm91.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.742876183164-897t3md9j6n0tbd6nv6993v2nh5utm91</string>
	<key>API_KEY</key>
	<string>AIzaSyD74OSdrQxFPMuv_deJX47uuRCnRsmLoyo</string>
	<key>GCM_SENDER_ID</key>
	<string>742876183164</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mismo.estuclubios</string>
	<key>PROJECT_ID</key>
	<string>studio-7814845508-d173f</string>
	<key>STORAGE_BUCKET</key>
	<string>studio-7814845508-d173f.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:742876183164:ios:fbf6ed07d90766579ea7f9</string>
</dict>
</plist>