
rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {

    function isOwner(uid) {
      return request.auth != null && request.auth.uid == uid;
    }

    function isAdmin() {
      return request.auth != null &&
        exists(/databases/(default)/documents/roles_admin/$(request.auth.uid));
    }

    function isSupplier() {
        return request.auth != null &&
            exists(/databases/(default)/documents/roles_supplier/$(request.auth.uid));
    }
    
    // Rules for profile pictures / logos
    match /{allPaths=**} {
      allow read: if true;
      allow write: if isAdmin() || isSupplier();
    }
  }
}
