@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'PT Sans', sans-serif;
}

@layer base {
  :root {
    --background: 353 33% 97%;
    --foreground: 353 25% 25%;
    --card: 353 40% 99%;
    --card-foreground: 353 25% 25%;
    --popover: 353 40% 99%;
    --popover-foreground: 353 25% 25%;
    --primary: 345 75% 55%;
    --primary-foreground: 353 40% 99%;
    --secondary: 353 50% 95%;
    --secondary-foreground: 353 25% 25%;
    --muted: 353 50% 95%;
    --muted-foreground: 353 20% 45%;
    --accent: 350 80% 88%;
    --accent-foreground: 353 25% 25%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 353 30% 90%;
    --input: 353 35% 92%;
    --ring: 345 75% 55%;
    --chart-1: 345 75% 55%;
    --chart-2: 350 80% 88%;
    --chart-3: 353 50% 95%;
    --chart-4: 345 65% 75%;
    --chart-5: 350 70% 80%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 47.4% 11.2%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 345 75% 55%;
    --primary-foreground: 353 40% 99%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 345 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
